/* Обычный */
@font-face {
	font-family: 'Regular-Lato'; 
	src: url(../fonts/Lato/Lato-Regular.ttf); 
}
 
/* Жирный */
@font-face {
	font-family: 'Bolt-Roboto'; 
	src: url(../fonts//Lato/Lato-Bold.ttf); 
}
 
