.login { 
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
	width:500px;
	padding: 10px;
    background: rgb(0, 0, 0,0.9) ;
    border-radius:15px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.main-form{
    position: relative;
    padding: 15px;
    max-width: 100%;
}
.wrapper-login{
    position: relative;
    width: 100%;
}
input { 
	width: 95%; 
	margin: 15px 0; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.logout{
    width: 150px;
    margin: 15px auto;
}
.logout button{
    width: 100%;
    height: 40px;
    padding: 10px 15px;
}
.error{
	color: red;
	margin: 0px 10px;
	font-size: 12px;
	display: none;
}
.error.invalid{
	display: block;
	animation: errorAnimation 0.5s;
}
.error-massage{
	display: flex;
	position: absolute;
	top: -5%;
	left: 50%;
	max-width: 370px;
	height: 25px;
	transform: translate(-50%,-50%);
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	background: rgb(0, 0, 0,0.9);
	color: white;
	transition: 0.5s ease-in-out;
}
.error-text{
	padding: 0 5px;
}
.btn-close{
	height: 25px;
	cursor: pointer;
}
.error-massage.active{
	display: flex;
	top: 5%;
}
@keyframes errorAnimation {
	0%{
		margin-left: 0px;
	}
	25%{
		margin-left: 15px;
	}
	75%{
		margin-left: 20px;
	}
	100%{
		margin-left: 10px;
	}
}