.wrapper-note-interaction {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 918px;
    width: 100%;
    display: flex;
    z-index: 99;
    animation: hideModal 1s both;
}

.wrapper-note-interaction.active {
    animation: showModal 1s both;
}

.note-interaction {
    overflow-y: scroll;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 36px 0px;
    border-radius: 24px 0px 0px 24px;
    background: var(--background-white, #FFF);
    box-shadow: -48px 0px 96px 0px rgba(105, 132, 230, 0.16);
}

.header-note-interaction {

    display: flex;
    flex-direction: column;
    gap: 36px;
}

.head-title {
    padding: 0px 96px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.head-title .title {
    color: #262F3D;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}

.tags-state {
    color: #FFF;
    /* Callout */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.077px;
    display: inline-flex;
    padding: 12px 16px;
    align-items: flex-start;
    border-radius: 12px;
}

.tags-state.new-items-class {
    position: relative;
    background: #6375D4;
}

.tags-state.in-work-items-class {
    background: #1AB9EB;
}

.tags-state.suspended-items-class {
    background: #E19421;
}

.tags-state.complited-items-class {
    background: #27D8AD;
}

.tags-state.canceled-items-class {
    background: #d82727;
}

.wrapper-interaction-hide {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hide-btn {
    display: flex;
    align-items: center;
    gap: 8px;

}

.hide-btn div {
    color: var(--any-primary-black, #262F3D);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.077px;
}

.info-note-interaction {
    padding: 0 96px;
}

.wrapper-note-change-information {}

.change-tags {
    border-top: #E7F6FB 1px solid;
    border-bottom: #E7F6FB 1px solid;
    padding: 36px 0;
}

.note-change-information {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.change-information-item {}

.subhead-change-information-item {
    min-width: 254px;
}

.subhead-change-information-item .silent-text {}

.wrapper-input-should-done {
    width: 100%;
}

.subtasks-note-interaction {}

.footer-note-interaction {
    padding: 0 96px;
}

.wrapper-add-notes {
    cursor: pointer;
    border-radius: 24px;
    background: var(--background-grey, #F6F9FC);
    display: flex;
    padding: 24px 36px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.add-notes {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #43A047;
    border-radius: 12px;
    border: 1px solid var(--stroke-primary, #E7F6FB);
    background: var(--any-primary-white, #FFF);
    gap: 12px;
    padding: 12px 24px;
    align-self: stretch;
    flex: 1 0 0;
}

.remove-notes {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a82e2e;
    border-radius: 12px;
    border: 1px solid var(--stroke-primary, #E7F6FB);
    background: var(--any-primary-white, #FFF);
    gap: 12px;
    padding: 12px 24px;
    align-self: stretch;
    flex: 1 0 0;
}

.wrapper-date span {
    color: var(--any-tertiary, #B9BAD5);
    /* Subhead */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.077px;
}

.form-new-note {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

/* select */
.select-tags {
    position: relative;
    border: none;
    width: 100%;
    height: 24px;
    color: var(--any-primary-black, #262F3D);
    /* Subhead */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.077px;
}

.select-tags-item {
    width: 100%;
    color: var(--any-primary-black, #262F3D);
    /* Subhead */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.077px;
}

.select-tags .vs__dropdown-toggle {
    height: 24px;
}

.vs__selected {
    margin: 0;
    height: 24px;
    padding: 0;
}

/* subtasks */

.subtasks-note-interaction-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdown-content {
    display: none;
    transition: 1s all;
}

.subtasks-note-interaction-add-window {
    position: absolute;
    top: 68px;
    right: 0;
    border-radius: 16px;
    background: var(--any-primary-white, #FFF);
    /* Pop */
    box-shadow: -24px 0px 96px 0px rgba(105, 132, 230, 0.16);
    max-width: 520px;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    gap: 24px;
    transition: 1s all;
}

.subtasks-note-interaction-header {
    border-radius: 16px;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}

.subtasks-note-interaction-unput input {
    border-left: 2px solid var(--any-accent, #468FC5);
    border-radius: 0px;
    padding-left: 8px;
}

.subtask-icon-add-and-hide {
    cursor: pointer;
    display: flex;
}

.wrapper-hide-subtasks {
    transform: rotate(90deg);
    transition: 1s all;
}

.wrapper-hide-subtasks.hide {
    transform: rotate(-90deg);
}

.dropdown-content.active {
    display: flex;
}

.subtasks-note-interaction-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtasks-note-interaction-item {
    padding: 24px 32px;
    border-radius: 16px;
    border: 1px solid var(--stroke-primary, #E7F6FB);
    background: var(--any-primary-white, #FFF);
    /* Blue */
    box-shadow: 0px 8px 16px 0px rgba(70, 143, 197, 0.08);
}

.wrapper-hide-subtasks {}
#btn-subtasks{
    width: auto;
}
@keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

@keyframes showModal {
    0% {
        right: -50%;
    }

    100% {
        right: 0%;
    }
}

@keyframes hideModal {
    0% {
        right: 0;
    }

    100% {
        right: -100%;
    }
}
@media (max-width:768px) {
    .head-title,.info-note-interaction,.footer-note-interaction{
        padding: 0 25px;
    }
    .change-information-item:nth-child(3){
    }
    .subhead-change-information-item {
        min-width: 200px;
    }
}
@media (max-width:580px) {
    .change-information-item{
        flex-direction: column;
        align-items: start;
    }
    .change-information-item:nth-child(3){
        max-width: 70%;
    }
}