.navbar {
    height: 80px;
    background-color: rgb(24, 22, 22);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}

.navbar .logo {
    font-size: 33px;
    color: aliceblue;
    font-weight: 600px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 5px;
}

.navbar ul li a {
    color: antiquewhite;
    /* font-style: none; */
    text-decoration: none;
    font-weight: 500;
    padding: 8px;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.navbar ul li a.active {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 8px 10px;
}



.navbar .menu-btn {
    color: white;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

#click {
    display: none;
}

section h1 {
    text-align: center;
    font-size: 40px;
    padding: 80px;
}
.profile{
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    list-style: none;
}

.gg-log-out {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 10px;
    height: 30px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
   
   .gg-log-out::after,
   .gg-log-out::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-log-out::after {
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    width: 12px;
    height: 12px;
    left: 4px;
    bottom: 6px
   }
   
   .gg-log-out::before {
    border-radius: 3px;
    width: 16px;
    height: 2px;
    background: currentColor;
    left: 4px;
    bottom: 11px
   } 
.logo{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper-logout{
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
}

@media (max-width: 940px) {
    section h1 {
        /* text-align: center; */
        font-size: 20px;
        /* padding: 80px; */
    }

    .navbar ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: black;
        height: 100%;
        width: 100%;
        display: block;
        /* padding: 5px; */
        text-align: center;
        transition: all 0.3s ease;
    }

    #click:checked~ul {

        left: 0;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    .navbar ul li {
        margin: 40px 0;
    }

    .navbar ul li a {
        background: none;
        font-size: 20px;
        display: block;
    }

    .navbar ul li a:hover {
        color: cyan;
        background: none;
    }

    .navbar ul li a.active {
        color: cyan;
        background: none;
    }

    .navbar .menu-btn {
        display: block;
    }
}