.navbar {
    content: '';
    background: inherit;
}
.navbar .logo {
    font-size: 20px;
    color: aliceblue;
    font-weight: 600px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 5px;
}

.navbar ul li a {
    color: antiquewhite;
    /* font-style: none; */
    text-decoration: none;
    font-weight: 500;
    padding: 8px;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.navbar ul li a.active {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 8px 10px;
}
.navbar .menu-btn {
    color: white;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

#click {
    display: none;
}

section h1 {
    text-align: center;
    font-size: 40px;
    padding: 80px;
}
.title-header{
    color: #262F3D;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}
.btn-new-note{
    width: 177px;
}
.btn-blue{
    box-shadow: 0px 8px 16px 0px rgba(70, 143, 197, 0.08);
    background: #468FC5;
    border: none;
}
.wrapper-comunication-header{
    display: flex;
    gap: 12px;
}
.btn-blue img{
    margin-right:8px;
}
#notifications{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    box-shadow: 0px 8px 16px 0px rgba(70, 143, 197, 0.08);
    border-radius: 12px;
    border: 1px solid  #E7F6FB;
    background: #FFF;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 96px;
    height: calc(120px - 76px);
}
.search-wrapper{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.search-input-wrapper{
      position:relative;
      display: flex;
      align-items: center;
      height: 100%;
      width: 50%;
}
.search-input{
      position:relative;
      width: 100%;
      height: 100%;
}
.search-input input{
    background:rgba(246, 249, 252, 1);
    border: none;
    width: 100%;
    height: 24px;
    padding: 0;
    box-shadow: none;
    margin: 0 0 0 8px;
    color:  #9192AD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.077px;
    text-shadow: none;
}
  .filters-wrapper{
      position:relative;
      width: 50%;
}
